html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background-color:#606060;
    font-family: 'Courier New', courier, monospace;
}

div#chains {
    background-image:url('img/sprinkles.png');
    top:2%;
    margin:0 auto;
    width:640px;
    text-align:center;
    box-shadow: 0 0 0.4em 0.4em #666;
    border-radius:5px;
}

h1 {
    font-family: 'Droid Serif', Georgia, Times, serif;
}

div#crystal_container {
    width:640px;
    height:480px;
    border-style:solid;
    border-width:1px;
    margin:0 auto;
    background-color:#000000;
}

input#chain {
    font-family: 'Courier New', courier, monospace;
}

p#key {
    color:#00FF00;
}
