html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background-color:#606060;
    font-family: 'Courier New', courier, monospace;
}

h1 {
    font-family: 'Droid Serif', Georgia, Times, serif;
}

div#crystal_container {
    width:640px;
    height:480px;
    position:absolute;
    z-index:0;
    margin:0 auto;
    left:30%;
}

input#chain {
    font-family: 'Courier New', courier, monospace;
}

div#key_container {
    position:absolute;
    z-index:-1;
    background-color:#000;
    width:640px;
    height:480px;
    margin:0 auto;
    left:30%;
}

p#key {
    position:absolute;
    top:10%;
    left:5%;
    right:5%;
    color:#00FF00;
}

p#key span {
    color:#FF0000;
}